.navbar {
    max-height: 3.25rem;
}

.hero.is-large .hero-body {
    background-color: #F1EFEF;
}

.quote {
    color: #B58900;
}

.hero-body > .container > .title {
    margin-bottom: 0.75rem;
}

.hero-body > .container > .subtitle {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.projects {
    padding-bottom: 3rem;
}

.projHead {
    padding-left: 0;
}

.container div h1 {
    color: #926E00;
}

.projTitle {
    color: #363636;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.projTitle::after {
    content: '';
    width: 0;
    height: 1.5px;
    background: #363636;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 0.5s ease-in;
}

.projLink:hover .projTitle::after {
    width: 100%;
}

.is-7 p {
    color: #926E00;
}

.footer {
    background-color: #5E5E5E;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.footer strong {
    color: white;
    font-size: 1rem;
}

.footer h3 {
    color: #929191;
    font-size: 0.75rem;
}

.footerLink {
    color: #BDBCBC;
}

.footerLink:hover {
    color: white;
}